.About {
    margin: 250px 0 0 0;
}
.About h1 {
    font-size: 65px;
    margin: 0 auto;
    margin-bottom: 10px;
}
/* .CVphoto {

} */
img {
    max-width: 100%;
    max-height: 100%;
}
.CVphoto {
    height: 670px;
    width: 513px;
    margin-left: 30px;
}
.About p {
    font-size: 25px;
    margin-top: 40px;
}
.about-text {
    margin-top: 60px;
}

.box {
    display: flex;
    justify-content: space-evenly;
}
.About .left-col1 {
    width: 60%;
}
.right-col1 {
    width: 40%;
    float: right;
    margin-left: 50px;
  }
  .connect {
      font-size: 24px;
  }
  .connect-bar {
    justify-content: space-between;


  }
 .About hr {
     margin-bottom: 80px;
     margin-top: 200px;
 }