.About {
  /* margin: 250px 0 0 0; */
 padding-top: 250px;
}
.About h1 {
  font-size: 65px;
  margin: 0 auto;
  margin-bottom: 10px;
  font-family: "Syne", sans-serif;
  font-size: 80px;
  font-weight: 500;
  margin: 30px 0 30px 0;
  background-image: linear-gradient(
    89.81deg,
    #9845e8 -1.72%,
    #33d2ff 54.05%,
    #dd5789 99.78%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.CVphoto {
  height: 670px;
  width: 513px;
  margin-left: 30px;
}
.About p {
  font-size: 25px;
  margin-top: 40px;
}
.about-text {
  margin-top: 60px;
}
.connect {
  font-size: 24px;
}
.connect-text {
  font-size: 24px;
  font-family: NavilleRegular;
}
.connect-bar {
  justify-content: space-between;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flex-item-left {
  font-size: 20px;
}
.flex-item-right {
  font-size: 20px;
}
.About hr {
  margin-bottom: 80px;
  margin-top: 200px;
}
.About .email {
  margin-bottom: 35px;
}
.About .resumeButton {
  padding: 10px 20px 10px 20px;
  border: var(--border-circle);
  border-radius: 40px;
  transition: all 0.5s ease;
  text-decoration: none;
  font-size: 20px;
  color: var(--light-branding-color);
}
.About .resumeButton:hover {
  background-color: var(--border-circle-color);
  color: white;
  cursor: pointer;
}
.About  .flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}
.About  .flex-item-left {
  flex: 20%;
  font-size: 20px;
}
.About .flex-item-center {
  flex: 60%;
}
.About .flex-item-right {
  margin-left: auto;
}
.icon {
  margin-left: 10px;
}
@media (max-width: 414px) {
  .About .flex-container {
    flex-direction: column;
  }
  .About {
    margin: 150px 0 0 0;
    padding-top: 10px;
  }
  .About .flex-item-right {
    margin: 0;
    font-size: 15px;
  }
  .About .resumeButton {
    font-size: 15px;
  }
  .About h1 {
    font-size: 35px;
  }
  .About .CVphoto {
    margin-left: 0;
    height: 410px;
    width: 300px;
    margin-bottom: 25px;
  }
  .About p {
    font-size: 18px;
    margin-top: 25px;
  }
  .About hr {
    margin-bottom: 80px;
    margin-top: 65px;
  }
  .connect {
    font-size: 18px;
  }
  .connect-text {
    font-size: 10px;
    margin-bottom: 15px;
  }
  .About svg {
    width: 25px;
    height: 35px;
  }
}
@media (max-width: 360px) {
  .About h1 {
    font-size: 28px;
  }
    .About .CVphoto {
    margin-left: 0;
    height: 320px;
    width: 300px;
    margin-bottom: 0px;
  }
  .connect {
    font-size: 18px;
  }
  .connect-text {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .About .resumeButton {
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  .About .flex-container {
    flex-direction: column;
  }
  .About {
    margin: 150px 0 0 0;
    padding-top: 10px;
  }
  .About .flex-item-right {
    margin: 0;
    font-size: 15px;
  }
  .About .resumeButton {
    font-size: 15px;
  }
  .About h1 {
    font-size: 35px;
  }
  .About .CVphoto {
    margin-left: 0;
    height: 410px;
    width: 300px;
    margin-bottom: 25px;
  }
  .About p {
    font-size: 18px;
    margin-top: 25px;
  }
  .About hr {
    margin-bottom: 80px;
    margin-top: 65px;
  }
  .connect {
    font-size: 18px;
  }
  .connect-text {
    font-size: 10px;
    margin-bottom: 15px;
  }
  .About svg {
    width: 25px;
    height: 35px;
  }
  .About .col-sm-6 {
    width: 100%;
  }
}
@media (max-width: 750px) {
  .About .flex-container {
    flex-direction: row;
  }
  .About {
    margin: 150px 0 0 0;
    padding-top: 10px;
  }
  .About .flex-item-right {
    margin: 0;
    font-size: 15px;
  }
  .About .flex-item-left {
    margin: 0;
    font-size: 15px;
  }
  .About .resumeButton {
    font-size: 10px;
  }
  .About h1 {
    font-size: 35px;
  }
  .About .CVphoto {
    margin-left: 0;
    height: 410px;
    width: 300px;
    margin-bottom: 25px;
  }
  .About p {
    font-size: 18px;
    margin-top: 25px;
  }
  .About hr {
    margin-bottom: 80px;
    margin-top: 65px;
  }
  .connect {
    font-size: 18px;
  }
  .connect-text {
    font-size: 10px;
    margin-bottom: 15px;
  }
  .About svg {
    width: 25px;
    height: 35px;
  }
  .About .col-sm-6 {
    width: 100%;
  }
  .About .flex-item-center {
    flex: 25%;
  }
}