.Contact h1 {
  color: var(--hero-color);
  font-family: Inter;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Contact .ContactSection {
    margin-top: 200px;
    margin-bottom: 80px;
}

.Contact .divider {
    margin-bottom: 50px;
}

.Contact .padding {
    margin-bottom: 10px;
}