/* .experience-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px;
  margin-top: 45px;
  font-size: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 25fr 1fr;
  gap: 30px 30px;
} */
/* .item {
    flex-grow: 1;
    margin-left: 200px;
} */

/* .Experience .left-col {
  width: 15%;
  font-size: 20px;
}
.Experience .right-col {
  width: 10%;
  float: right;
  font-size: 20px;
}
.Experience .center-col {
  width: 80%;
  float: left;
} */
/* .Experience .container div {
  padding: 1%;
  box-sizing: border-box;
  min-height: 500px;
  padding-left: 0px;
  padding-right: 0px;
} */
.Experience hr {
  margin-bottom: 80px;
}
.Experience h2 {
  font-family: Inter;
  font-size: 24px;
  margin-bottom: 10px;
}
.Experience h3 {
  font-size: 24px;
  margin-bottom: 10px;
}
.Experience ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 19px;
}
.Experience .experienceLocation {
  color: var(--secondary-color);
  margin-bottom: 10px;
}
.Experience .experienceDetail {
  margin-bottom: 150px;
}
.Experience .flex-item-left {
  flex: 20%;
  font-size: 20px;
}
.Experience .flex-item-center {
  flex: 70%;
}
.Experience.flex-item-right {
  margin-left: auto;
  font-size: 20px;
}


@media (min-width: 600px) {
  .Experience .flex-container {
    flex-direction: column;
  }
  .Experience h2 {
    font-size: 20px;
  }
  .Experience h3 {
    font-size: 18px;
  }
  .Experience .experienceDetail {
    font-size: 17px;
  }
  .Experience .experienceLocation {
    font-size: 17px;
    margin-bottom: 20px;
  }
  .Experience .flex-item-right {
    display: none;
  }
}
@media (min-width: 750px) {
  .Experience .flex-container {
    flex-direction: column;
  }
  .Experience h2 {
    font-size: 20px;
  }
  .Experience h3 {
    font-size: 18px;
  }
  .Experience .experienceDetail {
    font-size: 17px;
  }
  .Experience .experienceLocation {
    font-size: 17px;
    margin-bottom: 20px;
  }
  .Experience .flex-item-right {
    display: none;
  }
}
@media (min-width: 900px) {
  .Experience .flex-container {
    flex-direction: row;
  }
  .Experience h2 {
    font-size: 20px;
  }
  .Experience h3 {
    font-size: 18px;
  }
  .Experience .experienceDetail {
    font-size: 17px;
  }
  .Experience .experienceLocation {
    font-size: 17px;
    margin-bottom: 20px;
  }
  .Experience .flex-item-left {
    flex: 30%;
    font-size: 20px;
  }
  .Experience .flex-item-right {
    flex: 20%;
    font-size: 18px;
  }
  .Experience .flex-item-center {
    flex: 60%;
    font-size: 18px;
  }
}
@media (min-width: 1100px) {
  .Experience .flex-container {
    flex-direction: row;
  }
  .Experience h2 {
    font-size: 20px;
  }
  .Experience h3 {
    font-size: 18px;
  }
  .Experience .experienceDetail {
    font-size: 17px;
  }
  .Experience .experienceLocation {
    font-size: 17px;
    margin-bottom: 20px;
  }
  .Experience .flex-item-left {
    flex: 30%;
    font-size: 20px;
  }
  .Experience .flex-item-right {
    flex: 20%;
    font-size: 18px;
  }
  .Experience .flex-item-center {
    flex: 60%;
    font-size: 18px;
  }
}
@media (max-width: 360px) {
  .Experience .flex-container {
    flex-direction: column;
  }
  .Experience h2 {
    font-size: 20px;
  }
  .Experience h3 {
    font-size: 18px;
  }
  .Experience .experienceDetail {
    font-size: 17px;
  }
  .Experience .experienceLocation {
    font-size: 17px;
    margin-bottom: 20px;
  }
}
@media (max-width: 414px) {
  .Experience .flex-container {
    flex-direction: column;
  }
  .Experience h2 {
    font-size: 22px;
  }
  .Experience .flex-item-right {
    display: none;
  }
}
@media (min-width: 1500px) {
  .Experience .flex-container {
    flex-direction: row;
  }
  .Experience h2 {
    font-size: 25px;
  }
  .Experience h3 {
    font-size: 22px;
  }
  .Experience .experienceDetail {
    font-size: 20px;
  }
  .Experience .experienceLocation {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .Experience .flex-item-left {
    flex: 30%;
    font-size: 20px;
  }
  .Experience .flex-item-right {
    flex: 20%;
    font-size: 20px;
  }
  .Experience .flex-item-center {
    flex: 60%;
    font-size: 18px;
  }
  .Experience .flex-item-right {
    display: block;
  }
}



