* {
    font-family: HkGrotesk;
}
.FeaturedProjects h2 {
    font-family: HkGrotesk;
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 45px;
}
.projectImage  {
    box-shadow: var(--box-shadow); 
        max-width: 95%;
        max-height: 95%;
}
h4 {
    margin-top: 35px;
}
.projectDescription {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.projectSoftwares {
    margin-right: 25px;
    font-size: 17px;
    color:  var(--light-branding-color);
}
.projectRow {
    margin-bottom: 80px;
}
.linksLogo {
    margin-top: 30px;
}
.row .ProjectComponent  {
    max-width: 95%;
}
.projectDescription {
    max-width: 95%;
}
.placeholder-img {
    box-shadow: var(--box-shadow); 
    max-width: 95%;
    max-height: 95%;
}
.projectDescription {
    max-width: 95%;
}