/* .left-col {
    font-size: 2px;
    justify-self: start;
  } 
 .right-col {
    float: right;
    font-size: 20px;
    justify-self: end;
  }
   */

/* .container {
    display: flex;
    justify-content: space-between;
  }  */
.socialIcons {
  margin-right: 52px;
  margin-top: 20px;
}
.Footer {
  /* margin-bottom: 180px; */
  padding-bottom: 180px;
}
.Footer h2 {
  font-size: 25px;
  margin-bottom: 0px;
  line-height: 45px;
}
.Footer strong {
  font-family: NavilleRegular;
  color: var(--secondary-color);
}
.Footer .icons {
  margin-left: auto;
}
@media (max-width: 414px) {
  .Footer h2 {
    font-size: 20px;
  }
}
@media (max-width: 360px) {
  .Footer h2 {
    font-size: 20px;
  }
  .Footer {
    padding-bottom: 100px;
  }
}
@media (max-width: 600px) {
  .Footer h2 {
    font-size: 20px;
  }
  .Footer {
    padding-bottom: 100px;
  }
}
@media (max-width: 750px) {
  .Footer h2 {
    font-size: 18px;
  }
  .Footer {
    padding-bottom: 100px;
  }
  .socialIcons {
    margin-right: 25px;
    margin-top: 20px;
  }
}
@media (max-width: 900px) {
  .Footer h2 {
    font-size: 18px;
  }
  .Footer {
    padding-bottom: 100px;
  }
  .socialIcons {
    margin-right: 45px;
    margin-top: 20px;
  }
}
@media (max-width: 1100px) {
  .Footer h2 {
    font-size: 18px;
  }
  .Footer {
    padding-bottom: 100px;
  }
  .socialIcons {
    margin-right: 45px;
    margin-top: 20px;
  }
}