 /* .left-col {
    font-size: 2px;
    justify-self: start;
  } 
 .right-col {
    float: right;
    font-size: 20px;
    justify-self: end;
  }
   */
  
  /* .container {
    display: flex;
    justify-content: space-between;
  }  */
  .socialIcons {
    margin-right: 52px;
    margin-top: 20px;
  }
.Footer {
  margin-bottom: 180px;
}
.Footer h2 {
  font-size: 25px;
  margin-bottom: 0px;
}
.Footer strong {
      font-family: NavilleRegular;
}
@media (max-width: 414px) {
  .Footer h2 {
    font-size: 20px;
  }
}