.Hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-family: HkGrotesk;
}
h1 {
    font-family: 'Raleway', HkGrotesk;
    font-size: 120px;
    font-weight: 500;
    margin: 30px 0 30px 0;
    background-image: linear-gradient(89.81deg, #9845E8 -1.72%, #33D2FF 54.05%, #DD5789 99.78%);
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
h2 {
    font-size: 27px;
    line-height: 40px;
}
h3 {
    font-size: 25px;
    margin-top: 150px;
}
.arrowAnimation {
    height: 300px;
    margin-left: 0;
    position: relative;
    bottom: -8px;
    right: 200px;
}
