/* nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: white;
} */
nav {
  padding: 0 250px 0 250px;
  font-size: 22px;
  color: var( --branding-color);
}
.navbar {
  background-color: var(--background);
  padding-top: 50px;
  color: var( --branding-color);
}
.navbar-light .navbar-nav .nav-link.active {
  color: var(--navBar-active);
}
.navbar-light .navbar-nav .nav-link {
  color: var(--navBar-inActive);
}
@media (max-width: 414px) {
  nav {
    padding: 0 43px 0 43px;
  }
}
@media (max-width: 600px) {
  nav {
    padding: 0 43px 0 43px;
  }
}
@media (max-width: 750px) {
  nav {
    padding: 0 43px 0 43px;
  }
}