/* nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: white;
} */
nav {
  padding: 0 250px 0 250px;
  font-size: 20px;
}
.navbar {
    background-color: #ffffff;
    padding-top: 50px;
  }