/* <--font import--> */
@font-face {
  font-family: HkGrotesk;
  src: url(./fonts/HKGrotesk-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: DoulosSILR;
  src: url(./fonts/DoulosSILR.ttf);
  font-weight: normal;
}
@font-face {
  font-family: centabel;
  src: url(./fonts/centabel.ttf);
  font-weight: normal;
}
@font-face {
  font-family: NavilleRegular;
  src: url(./fonts/Naville-Regular.ttf);
  font-weight: normal;
}
:root {
  --background: #ffffff;
  --hero-color: rgb(75, 75, 75);
  --branding-color: rgb(0, 0, 0);
  --light-branding-color: #004e93;
  --border-circle: 2px solid black;
  --border-circle-color: black;
  --secondary-color: #004e93;
  --border-circle-background: white;
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --navBar-active: black;
  --navBar-inActive: rgba(0,0,0,.55);
}
[data-theme="dark"] {
  --background: black;
  --hero-color: rgb(227, 227, 227);
  --branding-color: rgb(255, 255, 255);
  --light-branding-color: #ffffff;
  --secondary-color: #8e05c2;
  --border-circle: 2px solid #8e05c2;
  --border-circle-color: #8e05c2;
  --box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
  --navBar-active: white;
  --navBar-inActive: rgba(210, 210, 210, 0.55);
}
.App {
  /* text-align: center; */
  background-color: var(--background);
}

.App2 {
  /* text-align: center; */
  margin: 0 250px 0 250px;
}

.App-header {
  background-color: var(--background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--branding-color);
}

@media (max-width: 414px) {
  .App2 {
    margin: 0 60px 0 60px;
  }
}
